*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline : auto;
    width: 500px;
    background-color: #fdfbd4;
}

.screen {
    display: none;
    flex-flow: column;
    align-items: center;
}

.active {
    display: flex;
}